<%= form_with model: @connection, local: true do |f| %>
  <% if @connection.errors.any? %>
    <div class="alert alert-danger">
      <h2>This form contains <%= pluralize(@build.errors.count, "error") %></h2>

      <ul>
      <% @connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Connection type"%>
    <%= f.text_field :connection_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Local port"%>
    <%= f.text_field :destination_port, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Remote port"%>
    <%= f.text_field :source_port, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Cable type"%>
    <%= f.text_field :cable_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Cable color"%>
    <%= f.text_field :cable_color, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Cable length"%>
    <%= f.text_field :cable_length, class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>
