<%= form_with model: @part, local: true do |f| %>
  <% if @part.errors.any? %>
    <div class="alert alert-danger">
      <h2>This form contains <%= pluralize(@part.errors.count, "error") %></h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Part number"%>
    <%= f.text_field :part_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Manufacturer"%>
    <%= f.text_field :manufacturer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Model"%>
    <%= f.text_field :model, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Description"%>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>
