<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<% if @parts.first %>
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @parts.each do |part| %>
            <tr>
              <td><%= part.manufacturer %></td>
              <td><%= part.model %></td>
              <td><%= part.description %></td>
              <td>
                <%= link_to 'Show', part %> |
                <%= link_to 'Edit', edit_part_path(part) %> |
                <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<p>
  <strong>Import CSV:</strong>
  <%= form_tag import_parts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</p>

<p>
  <%= link_to 'New Part', new_part_path %>
</p>
