<p id="notice"><%= notice %></p>

<h1>Part</h1>

<p>
  <strong>Manufacturer:</strong>
  <%= @part.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @part.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <%= link_to 'Edit', edit_part_path(@part) %> |
  <%= link_to 'Back', parts_path %>
</p>
