<%= form_with model: @build, local: true do |f| %>
  <% if @build.errors.any? %>
    <div class="alert alert-danger">
      <% count = 0 %>

      <% @build.asset_numbers.each do |asset| %>
        <% count += asset.errors.count if asset.errors.any? %>
      <% end %>

      Please correct <%= pluralize(count, "error") %> below.
    </div>
  <% end %>

  <p class="lead">Please scan asset numbers.</p>

  <% @build.asset_numbers.each do |asset| %>
    <%= f.fields_for :asset_numbers, asset do |asset_form| %>
      <%= asset_form.hidden_field :id, value: asset.id %>
      <div class="row">
        <% component = asset.component %>
        <% rack = component.component_type.eql? "Rack" %>
        <% label = "Rack" if rack %>
        <% label = "U#{component.u_location}, #{component.orientation}" unless rack %>
        <%= asset_form.label :scanned_asset, label, class: "col-md-2 col-form-label font-weight-bold" %>

        <% if asset.errors.any? %>
          <div class="form-group col-md-5">
            <%= asset_form.text_field :expected_asset, class: "form-control is-invalid text-monospace", disabled: true %>
          </div>

          <div class="form-group col-md-5">
            <%= asset_form.text_field :scanned_asset, class: "form-control is-invalid text-monospace" %>
            <div class="invalid-feedback">
              Scanned asset must match expected asset.
            </div>
          </div>

        <% else %>
          <div class="form-group col-md-5">
            <%= asset_form.text_field :expected_asset, class: "form-control text-monospace", disabled: true %>
          </div>

          <div class="form-group col-md-5">
            <%= asset_form.text_field :scanned_asset, class: "form-control text-monospace" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<% end %>
