<%= form_with model: [@customer, @build], local: true do |f| %>
  <% if @build.errors.any? %>
    <div class="alert alert-danger">
      <h2>This form contains <%= pluralize(@build.errors.count, "error") %></h2>

      <ul>
      <% @build.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sales_order, "Sales Order"%>
    <%= f.text_field :sales_order, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :related_orders, "Related Orders"%>
    <%= f.text_field :related_orders, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :project_name, "Project Name"%>
    <%= f.text_field :project_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :project_reference, "Project Reference"%>
    <%= f.text_field :project_reference, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :build_type, "Build Type"%>
    <%= f.select :build_type, Build::BUILDTYPE, { prompt: "Select build type" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rack_config_id, "Rack Config"%>
    <%= f.collection_select :rack_config_id, RackConfig.where(customer_id: @build.customer.id), :id, :sku, { prompt: "Select the rack config" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes, "Notes" %>
    <%= f.text_area :notes, class: "form-control text-monospace", rows: "25" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>

  <% if @customer.nil? %>
    <%= link_to 'Delete', @build, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure? This action can't be undone!" } %>
  <% end %>
<% end %>
