<div class="card mb-4">
  <div class="card-header">
    <h3>
      <a class="text-body" href="#collapseLabels" data-toggle="collapse" aria-expanded="true" aria-controls="collapseLabels">
        Labels
      </a>
    </h3>
  </div>

  <div class="collapse" id="collapseLabels">
    <div class="card-body">
      <ul class="list-inline font-weight-light">
        <li class="list-inline-item">
          <%= link_to 'Format »', edit_build_path(@build, build: { label_templates_attributes: true }), class: "text-body" %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'Edit »', edit_build_path(@build, build: { cable_labels_attributes: true }), class: "text-body" %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'Export »', build_cable_labels_path(@build, format: "csv"), class: "text-body" %>
        </li>
      </ul>

      <div class="card-columns">
        <% connection_types = @build.rack_config.connections.distinct(:group_type) %>
        <% connection_types = connection_types.sort_by { |t|
          t == "net" ? 1 : t == "misc" ? 2 : t == "stor" ? 3 : 4
        } %>

        <% connection_types.each do |type| %>
          <% connections = @build.rack_config.connections.where(group_type: type) %>
          <% connection_groups = connections.distinct(:group_name) %>

          <% connection_groups.each do |group| %>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  <%= group %>
                </h4>

                <% template = @build.label_templates.where(group_name: group).first %>
                <% template_a = template.template_a %>
                <% template_b = template.template_b %>

                <% connections = @build.rack_config.connections.where(group_name: group) %>
                <%
                  connections = connections.sort_by { |c| [
                    -c.row_order.to_i,
                    c.source_port.split("/")[0].to_i,
                    c.source_port.split("/")[1].to_i
                  ] }
                %>

                <ul class="list-unstyled text-monospace">
                  <% connections.each do |connection| %>
                    <% label = @build.cable_labels.where(connection_id: connection.id).first %>
                    <% variables = label.template_var_hash %>

                    <li>
                      <% if label.label_a.blank? && template_a.blank? %>
                        <span class="text-danger">Label needed!</span>
                      <% elsif label.label_a.blank? %>
                        <%= template_a % variables %>
                      <% else %>
                        <%= label.label_a %>
                      <% end %>
                    </li>

                    <li>
                      <% if label.label_b.blank? && template_b.blank? %>
                        <span class="text-danger">Label needed!</span>
                      <% elsif label.label_b.blank? %>
                        <%= template_b % variables %>
                      <% else %>
                        <%= label.label_b %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <hr>

      <%= link_to "Top »", "#top", class: "text-body font-weight-light" %>
    </div>
  </div>
</div>
