<%= form_with model: @build, local: true do |f| %>
  <% if @build.errors.any? %>
    <div class="alert alert-danger">
      <% count = 0 %>

      <% @build.label_templates.each do |template| %>
        <% count += template.errors.count if template.errors.any? %>
      <% end %>

      Please correct <%= pluralize(count, "error") %> below.
    </div>
  <% end %>

  <p class="lead">Please enter a format for the labels.</p>

  <span class="font-weight-bold">Variables</span>
  <ul class="list-unstyled">
    <% LabelTemplate::VARIABLES.each do |variable| %>
      <li class="text-monospace">
        <%= variable %>
      </li>
    <% end %>
  </ul>

  <% connection_types = @build.rack_config.connections.distinct(:group_type) %>
  <%
    connection_types = connection_types.sort_by { |t|
    t == "net" ? 1 : t == "misc" ? 2 : t == "stor" ? 3 : 4
    }
  %>

  <% connection_types.each do |type| %>
    <% connections = @build.rack_config.connections.where(group_type: type) %>
    <% connection_groups = connections.distinct(:group_name) %>

    <% connection_groups.each do |group| %>
      <% templates = @build.label_templates.where(group_name: group) %>
      <% templates.each do |template| %>
        <%= f.fields_for :label_templates, template do |template_form| %>
          <%= template_form.hidden_field :id, value: template.id %>
          <p class="mb-2 font-weight-bold"><%= template.group_name %></p>

          <div class="form-group">
            <%= template_form.text_field :template_a, class: "form-control text-monospace", placeholder: "Template Label A" %>
          </div>

          <div class="form-group">
            <%= template_form.text_field :template_b, class: "form-control text-monospace", placeholder: "Template Label B" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<% end %>
