<%= form_with model: @build, local: true do |f| %>
  <% if @build.errors.any? %>
    <div class="alert alert-danger">
      <% count = 0 %>

      <% @build.serial_numbers.each do |serial| %>
        <% count += serial.errors.count if serial.errors.any? %>
      <% end %>

      Please correct <%= pluralize(count, "error") %> below.
    </div>
  <% end %>

  <p class="lead">Please scan serial numbers.</p>

  <% @build.serial_numbers.each do |serial| %>
    <%= f.fields_for :serial_numbers, serial do |serial_form| %>
      <%= serial_form.hidden_field :id, value: serial.id %>
      <div class="row">
        <% component = serial.component %>
        <% rack = component.component_type.eql? "Rack" %>
        <% label = "Rack" if rack %>
        <% label = "U#{component.u_location}, #{component.orientation}" unless rack %>
        <%= serial_form.label :serial, label, class: "col-md-2 col-form-label font-weight-bold" %>

        <div class="form-group col-md-10">
          <%= serial_form.text_field :serial, class: "form-control text-monospace" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<% end %>
