<h1><%= @build.customer.name %></h1>
<h2>Build <small class="text-muted"><%= @build.sales_order %>, <%= @build.project_name %></small></h2>

<% if params.dig(:build, :asset_numbers_attributes) %>

  <%= render 'asset_form' %>

<% elsif params.dig(:build, :cable_labels_attributes) %>

  <%= render 'cable_label_form' %>

<% elsif params.dig(:build, :label_templates_attributes) %>

  <%= render 'label_template_form' %>

<% elsif params.dig(:build, :serial_numbers_attributes) %>

  <%= render 'serial_form' %>

<% else %>

  <%= render 'form' %>

<% end %>
