<h1><%= @customer.name %></h1>
<h2>Build <small class="text-muted"><%= @build.project_name %></small></h2>

<div class="mb-3">
  <%= link_to 'Edit', edit_build_path(@build), class: "text-body" %> |

  <!-- Button trigger modal -->
  <a class="text-body" href="#" data-toggle="modal" data-target="#importModal">Import</a> |

  <!-- Modal -->
  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import Build</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with url: import_build_path, local: true do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.file_field :file, class: "form-control-file" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Import", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Export', build_path(@build, format: "csv"), class: "text-body" %>
</div>

<%= render "scan" %>
<hr class="mb=4">

<%= render "shared/rack_config" if @build.rack_config %>
