<p id="notice"><%= notice %></p>

<h1>Cable Labels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cable_labels.each do |cable_label| %>
      <tr>
        <td><%= link_to 'Show', cable_label %></td>
        <td><%= link_to 'Edit', edit_cable_label_path(cable_label) %></td>
        <td><%= link_to 'Destroy', cable_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cable Label', new_cable_label_path %>
