<p class="lead">Please scan asset numbers.</p>

<%= form_with model: [@build, @asset_number], local: true do |f| %>
  <% if @asset_errors.any? %>
    <div class="alert alert-danger">
      <% count = 0 %>
      <% @asset_errors.each { |e| count += e.count } %>
      <h2>This form contains <%= pluralize(count, "error") %></h2>

      <ul>
      <% @asset_errors.each do |errors| %>
        <% errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Rack</h2>
  <% asset = @asset_numbers[:rack] %>
  <%= fields_for "asset_numbers[]", asset do |field| %>
    <div class="form-group row">
      <%= field.label asset.rack_component.part.part_number, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= field.text_field :scanned_asset, class: "form-control" %>
      </div>
      <%= field.hidden_field :rack_component_id, value: asset.rack_component_id %>
    </div>
  <% end %>
  <hr class="mb-4">

  <h2>Front</h2>
  <% front = @asset_numbers[:front] %>
  <% front.each do |asset| %>
    <%= fields_for "asset_numbers[]", asset do |field| %>
      <div class="form-group row">
        <%= field.label "U#{asset.rack_component.u_location} #{asset.rack_component.part.part_number}", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= field.text_field :scanned_asset, class: "form-control" %>
        </div>
        <%= field.hidden_field :rack_component_id, value: asset.rack_component_id %>
      </div>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <h2>Rear</h2>
  <% rear = @asset_numbers[:rear] %>
  <% rear.each do |asset| %>
    <%= fields_for "asset_numbers[]", asset do |field| %>
      <div class="form-group row">
        <%= field.label "U#{asset.rack_component.u_location} #{asset.rack_component.part.part_number}", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= field.text_field :scanned_asset, class: "form-control" %>
        </div>
        <%= field.hidden_field :rack_component_id, value: asset.rack_component_id %>
      </div>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <h2>Zero U</h2>
  <% zero_u = @asset_numbers[:zero_u] %>
  <% zero_u.each do |asset| %>
    <%= fields_for "asset_numbers[]", asset do |field| %>
      <div class="form-group row">
        <%= field.label "#{asset.rack_component.orientation} #{asset.rack_component.part.part_number}", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= field.text_field :scanned_asset, class: "form-control" %>
        </div>
        <%= field.hidden_field :rack_component_id, value: asset.rack_component_id %>
      </div>
    <% end %>
  <% end %>
  <hr class="mb-4">

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
<% end %>
