<p id="notice"><%= notice %></p>

<h1>Asset Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_numbers.each do |asset_number| %>
      <tr>
        <td><%= asset_number.num %></td>
        <td><%= link_to 'Show', asset_number %></td>
        <td><%= link_to 'Edit', edit_asset_number_path(asset_number) %></td>
        <td><%= link_to 'Destroy', asset_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset Number', new_asset_number_path %>
