<%= form_with(model: elevation, local: true) do |form| %>
  <% if elevation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elevation.errors.count, "error") %> prohibited this elevation from being saved:</h2>

      <ul>
      <% elevation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orientation %>
    <%= form.text_field :orientation %>
  </div>

  <div class="field">
    <%= form.label :u_location %>
    <%= form.number_field :u_location %>
  </div>

  <div class="field">
    <%= form.label :part_number %>
    <%= form.text_field :part_number %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
