<p id="notice"><%= notice %></p>

<p>
  <strong>Orientation:</strong>
  <%= @elevation.orientation %>
</p>

<p>
  <strong>U location:</strong>
  <%= @elevation.u_location %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @elevation.part_number %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @elevation.sku %>
</p>

<%= link_to 'Edit', edit_elevation_path(@elevation) %> |
<%= link_to 'Back', elevations_path %>
