<% connection_types = @rack_config.connections.distinct(:group_type) %>
<% connection_types = connection_types.sort_by { |t|
  t == "net" ? 1 : t == "misc" ? 2 : t == "stor" ? 3 : 4
} %>
<% connection_types.each do |type| %>
  <div class="card mb-4">
    <div class="card-header">
      <h3>
        <a class="text-body" href="#collapse<%= type.titlecase.delete(" ") %>" data-toggle="collapse" aria-expanded="true" aria-controls="collapse<%= type.titlecase.delete(" ") %>">
          <%= Connection.humanize_type(type).titlecase %>
        </a>
      </h3>
    </div>

    <div class="collapse show" id="collapse<%= type.titlecase.delete(" ") %>">
      <div class="card-body">
        <% connections = @rack_config.connections.where(group_type: type) %>
        <% connection_groups = connections.distinct(:group_name) %>
        <% connection_groups.each do |group| %>
          <h4 class="card-title">
            <a class="text-body" href="#collapse<%= group.titlecase.delete(" ") %>" data-toggle="collapse" aria-expanded="true" aria-controls="collapse<%= group.titlecase.delete(" ") %>">
              <%= group %>
            </a>
          </h4>

          <div class="collapse show" id="collapse<%= group.titlecase.delete(" ") %>">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">U</th>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">Model</th>
                  <th scope="col">Source Port</th>
                  <th scope="col">Destination Port</th>
                  <th scope="col">Transceiver</th>
                  <th scope="col">Type</th>
                  <th scope="col">Length</th>
                  <th scope="col">Color</th>
                </tr>
              </thead>

              <tbody>
                <% connections = @rack_config.connections.where(group_name: group) %>
                <% connections = connections.sort_by { |c| [
                  -c.row_order.to_i,
                  c.source_port.split("/")[0].to_i,
                  c.source_port.split("/")[1].to_i
                ] } %>
                <% connections.each do |connection| %>
                  <% source_device = connection.source_device %>
                  <% destination_device = connection.destination_device %>

                  <tr>
                    <td><%= destination_device.u_location %></td>
                    <td><%= destination_device.manufacturer %></td>
                    <td><%= destination_device.model %></td>
                    <% if type.eql?("pwr") %>
                      <td><%= "#{source_device.hostname}:#{connection.source_port}" %></td>
                    <% else %>
                      <td><%= "U#{source_device.u_location}:#{connection.source_port}" %></td>
                    <% end %>
                    <% if destination_device.u_location.start_with?(/^\d/) %>
                      <td><%= "U#{destination_device.u_location}:#{connection.destination_port}" %></td>
                    <% else %>
                      <td><%= "#{destination_device.u_location}:#{connection.destination_port}" %></td>
                    <% end %>
                    <td><%= connection.transceiver %></td>
                    <td><%= connection.cable_type %></td>
                    <td><%= connection.cable_length %></td>
                    <td><%= connection.cable_color %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <hr>

        <% end %>
        <%= link_to "Top »", "#top", class: "text-body" %>

      </div>
    </div>
  </div>
<% end %>
