<div class="card mb-4">
  <div class="card-header">
    <h3>
      <a class="text-body" href="#collapseElevation" data-toggle="collapse" aria-expanded="true" aria-controls="collapseElevation">
        Elevation
      </a>
    </h3>
  </div>

  <div class="collapse show" id="collapseElevation">
    <div class="card-body">
      <% rack = @rack_config.components.where(component_type: "Rack").first %>
      <% rack_u = rack.u_size.to_i %>

      <h4 class="card-title">Rack</h4>

      <div class="row">
        <div class="col-auto">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><strong>Manufacturer:</strong></td>
                <td><%= rack.manufacturer %></td>
              </tr>
              <tr>
                <td><strong>Model:</strong></td>
                <td><%= rack.model %></td>
              </tr>
              <tr>
                <td><strong>SKU:</strong></td>
                <td><%= rack.sku %></td>
              </tr>
              <tr>
                <td><strong>Rack Name:</strong></td>
                <td><%= rack.hostname %></td>
              </tr>
              <tr>
                <td><strong>Height:</strong></td>
                <td><%= rack_u %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="mb-4">

      <% ["Front", "Rear"].each do |orientation| %>
        <h4 class="card-title">
          <a class="text-body" href="#collapse<%= orientation %>" data-toggle="collapse" aria-expanded="true" aria-controls="collapse<%= orientation %>">
            <%= orientation.capitalize %>
          </a>
        </h4>

        <div class="collapse show" id="collapse<%= orientation %>">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">U</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Model</th>
                <th scope="col">SKU</th>
                <th scope="col">Hostname</th>
              </tr>
            </thead>

            <tbody>
              <% u_array = [] %>
              <% (rack_u).downto(1) do |u| %>
                <% component = @rack_config.components.where(u_location: u, orientation: orientation).first %>
                <% u_array.push(u) %>

                <% unless component.u_size.nil? %>
                  <% u_size = component.u_size %>
                  <tr>
                    <td><%= u_array.shift %></td>
                    <% unless component.component_type.nil? %>
                      <td rowspan="<%= u_size %>" class="align-middle"><%= component.manufacturer %></td>
                      <td rowspan="<%= u_size %>" class="align-middle"><%= component.model %></td>
                      <td rowspan="<%= u_size %>" class="align-middle"><%= component.sku %></td>
                      <td rowspan="<%= u_size %>" class="align-middle"><%= component.hostname %></td>
                    <% else %>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                  </tr>

                  <% until u_array.empty? %>
                    <tr>
                      <td><%= u_array.shift %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>

              <% zero_u_components = @rack_config.components.where(u_location: /^0/, orientation: /^#{orientation}/) %>
              <% zero_u_components.each do |component| %>
                <% unless component.nil? %>
                  <tr>
                    <td><%= component.u_location %></td>
                    <td><%= component.manufacturer %></td>
                    <td><%= component.model %></td>
                    <td><%= component.sku %></td>
                    <td><%= component.hostname %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

      <% end %>
      <%= link_to "Top »", "#top", class: "text-body font-weight-light" %>

    </div>
  </div>
</div>
