<%= form_with model: [@customer, @rack_config], local: true do |f| %>

  <% if @rack_config.errors.any? %>
    <div class="alert alert-danger">
      <h2>This form contains <%= pluralize(@rack_config.errors.count, "error") %></h2>

      <ul>
      <% @rack_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sku, "SKU" %>
    <%= f.text_field :sku, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes, "Notes" %>
    <%= f.text_area :notes, class: "form-control text-monospace", rows: "25" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>

  <% if @customer.nil? %>
    <%= link_to 'Delete', @rack_config, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure? This action can't be undone!" } %>
  <% end %>
<% end %>
