<div class="card mb-4">
  <div class="card-header">
    <h2>Network</h2>
    <a class="badge badge-dark" href="#collapseNetwork" data-toggle="collapse" aria-expanded="true" aria-controls="collapseNetwork">
      show/hide
    </a>
  </div>

  <div class="collapse show" id="collapseNetwork">
    <% network_connections = @rack_config.connections.where(connection_type: "network") %>
    <% connection_groups = network_connections.distinct(:connection_group) %>
    <% connection_groups.each do |group| %>

      <div class="card-body">
        <div class="card-title">
          <h3 class="card-title"><%= group %></h3>
          <a class="badge badge-dark" href="#collapse<%= group.delete " " %>" data-toggle="collapse" aria-expanded="true" aria-controls="collapse<%= group %>">
            show/hide
          </a>
        </div>

        <div class="collapse show" id="collapse<%= group.delete " " %>">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">U</th>
                <th scope="col">Part Number</th>
                <th scope="col">Man/Model</th>
                <th scope="col">Local Port</th>
                <th scope="col">Remote Port</th>
                <th scope="col">Type</th>
                <th scope="col">Length</th>
                <th scope="col">Color</th>
              </tr>
            </thead>

            <tbody>
              <% connections = @rack_config.connections.where(connection_group: group) %>
              <% connections = connections.sort_by { |hash| @rack_config.rack_components.find(hash[:local_device_id]).u_location.to_i } %>
              <% connections.reverse.each do |connection| %>
                <% local_device = connection.local_device %>
                <% remote_device = connection.remote_device %>
                <% part = local_device.part %>

                <tr>
                  <td><%= local_device.u_location %></td>
                  <td><%= part.part_number %></td>
                  <td><%= part.manufacturer %> <%= part.model %></td>
                  <td><%= "U" + local_device.u_location + ":" + connection.local_port %></td>
                  <td><%= "U" + remote_device.u_location + ":" + connection.remote_port %></td>
                  <td><%= connection.cable_type %></td>
                  <td><%= connection.cable_length %></td>
                  <td><%= connection.cable_color %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
