<h2>
  <a class="text-body" href="#collapseRackConfig" data-toggle="collapse" aria-expanded="true" aria-controls="collapseRackConfig">
    Rack Config
  </a>
  <small class="text-muted"> <%= @rack_config.sku %></small>
</h2>

<ul class="list-inline font-weight-light <%= visibility %>">
  <li class="list-inline-item">
    <%= link_to 'Edit »', edit_rack_config_path(@rack_config), class: "text-body" %>
  </li>
  <li class="list-inline-item">
    <!-- Button trigger modal -->
    <a class="text-body" href="#" data-toggle="modal" data-target="#importModal">Import »</a>
  </li>
  <li class="list-inline-item">
    <%= link_to 'Export »', rack_config_path(@rack_config, format: "csv"), class: "text-body" %>
  </li>
</ul>

  <!-- Modal -->
  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import Rack Config</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with url: import_rack_config_path, local: true do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.file_field :file, class: "form-control-file" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Import", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="collapse show" id="collapseRackConfig">
  <%= render "shared/notes", instance_variable: @rack_config if @rack_config.notes %>

  <% if @rack_config.components.first %>
    <%= render "rack_configs/elevation" %>
  <% else %>
    <p class="lead">Please upload rack configuration CSV.</p>
  <% end %>

  <%= render "rack_configs/connections" if @rack_config.connections.first %>
</div>
