<p id="notice"><%= notice %></p>

<h1>Rack Configurations</h1>

<% if @rack_configs.first %>
  <div class="row">
    <div class="col-12 col-md-6">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">SKU</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @rack_configs.each do |rack_config| %>
            <tr>
              <td><%= rack_config.customer %></td>
              <td><%= rack_config.sku %></td>
              <td>
                <%= link_to 'Show', rack_config %> |
                <%= link_to 'Edit', edit_rack_config_path(rack_config) %> |
                <%= link_to 'Destroy', rack_config, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<p>
  <%= link_to 'New Rack Config', new_rack_config_path %>
</p>
