<h1><%= @customer.name %></h1>
<h2>Rack Config</h2>

<div class="row">
  <div class="col-auto">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><strong>SKU:</strong></td>
          <td><%= @rack_config.sku %></td>
        </tr>
        <tr>
          <td><strong>Created:</strong></td>
          <td><%= @rack_config.created_at %></td>
        </tr>
        <tr>
          <td><strong>Updated:</strong></td>
          <td><%= @rack_config.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @rack_config.rack_components.first %>
  <h3>Elevation</h3>

  <% rack = @rack_config.rack_components.where(component_type: "rack").first %>
  <% rack_u = rack.u_size %>

  <div class="row">
    <div class="col-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>Rack part number:</strong></td>
            <td><%= rack.part.part_number %></td>
          </tr>
          <tr>
            <td><strong>Rack SKU:</strong></td>
            <td><%= rack.sku %></td>
          </tr>
          <tr>
            <td><strong>Rack height:</strong></td>
            <td><%= rack_u %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <%= render 'elevation', orientation: "front", rack_u: rack_u %>
    <%= render 'elevation', orientation: "rear", rack_u: rack_u %>
  </div>

<% else %>
  <p>Please upload rack configuration CSV.</p>
<% end %>

<% if @rack_config.connections.first %>
  <h3>Network</h3>
  <div class="row">
    <% network_connections = @rack_config.connections.where(connection_type: "network") %>
    <% connection_groups = network_connections.distinct(:connection_group) %>
    <% connection_groups.each do |group| %>
      <div class="col-12">
        <h3><%= group %></h3>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">U</th>
              <th scope="col">Part Number</th>
              <th scope="col">Man/Model</th>
              <th scope="col">Local Port</th>
              <th scope="col">Remote Port</th>
              <th scope="col">Type</th>
              <th scope="col">Length</th>
              <th scope="col">Color</th>
            </tr>
          </thead>

          <tbody>
            <% connections = @rack_config.connections.where(connection_group: group) %>
            <% connections = connections.sort_by { |hash| @rack_config.rack_components.find(hash[:local_device_id]).u_location } %>
            <% connections.reverse.each do |connection| %>
              <% local_device = connection.local_device %>
              <% remote_device = connection.remote_device %>
              <% part = local_device.part %>

              <tr>
                <td><%= local_device.u_location %></td>
                <td><%= part.part_number %></td>
                <td><%= part.manufacturer %> <%= part.model %></td>
                <td><%= "U" + local_device.u_location.to_s + ":" + connection.local_port %></td>
                <td><%= "U" + remote_device.u_location.to_s + ":" + connection.remote_port %></td>
                <td><%= connection.cable_type %></td>
                <td><%= connection.cable_length %></td>
                <td><%= connection.cable_color %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>

<% if @rack_config.connections.first %>
  <h3>Power</h3>
  <div class="row">
    <% power_connections = @rack_config.connections.where(connection_type: "power") %>
    <% connection_groups = power_connections.distinct(:connection_group) %>
    <% connection_groups.each do |group| %>
      <div class="col-12">
        <h3><%= group %></h3>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">U</th>
              <th scope="col">Part Number</th>
              <th scope="col">Man/Model</th>
              <th scope="col">PSU</th>
              <th scope="col">PDU Port</th>
              <th scope="col">Type</th>
              <th scope="col">Length</th>
              <th scope="col">Color</th>
            </tr>
          </thead>

          <tbody>
            <% connections = @rack_config.connections.where(connection_group: group) %>
            <% connections = connections.sort_by { |hash| @rack_config.rack_components.find(hash[:local_device_id]).u_location } %>
            <% connections.reverse.each do |connection| %>
              <% local_device = connection.local_device %>
              <% part = local_device.part %>

              <tr>
                <td><%= local_device.u_location %></td>
                <td><%= part.part_number %></td>
                <td><%= part.manufacturer %> <%= part.model %></td>
                <td><%= "U" + local_device.u_location.to_s + ":" + connection.local_port %></td>
                <td><%= group + ":" + connection.remote_port %></td>
                <td><%= connection.cable_type %></td>
                <td><%= connection.cable_length %></td>
                <td><%= connection.cable_color %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_rack_config_path(@rack_config), class: "btn btn-outline-primary" %>
<%= link_to 'Back', customer_rack_configs_path(@customer), class: "btn btn-outline-secondary" %>
<%= link_to 'Import', edit_rack_config_path(@rack_config, import: true), class: "btn btn-outline-success" %>
