<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :patch, class: "form-user"} do |f| %>
  <%= devise_error_messages! %>
  <%= image_tag "R-icon_002.png", width: "72", height: "72", class: "mb-4", alt: "Redapt Logo" %>
  <h1 class="h3 mb-3 font-weight-normal">Please set your new account password.</h1>

  <%= f.hidden_field :invitation_token, readonly: true %>

  <%= f.label :password, "New password", class: "sr-only" %>
  <%= f.password_field :password, required: true, autofocus: true, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} character min.)", class: "form-control" %>

  <%= f.label :password_confirmation, "Confirm new password", class: "sr-only" %>
  <%= f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: "Confirm password", class: "form-control" %>

  <%= f.submit "Submit", class: "btn btn-lg btn-outline-light btn-block" %>

  <%= link_to "Cancel", :back, class: "btn btn-sm btn-outline-light btn-block" %>

  <p class="mt-5 mb-3 text-muted">&copy; <%= Time.current.year %> Redapt, Inc.</p>
<% end %>
