
<%= simple_form_for(@network_connection) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :device1_port %>
    <%= f.input :device2_port %>
    <%= f.input :cable_type %>
    <%= f.input :cable_color %>
    <%= f.input :cable_length %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
